<h1>Report Results</h1>
<p><span class="badge badge-primary">{{reportTotal}}</span> reports</p>
<hr>
<div class="container-fluid">
  {{#if reports}}
      {{#each reports}}
        <section class="row">
            <div class="col-md-8">
                <a href="{{this.url}}" title="Go to page"> {{this.url}}</a>
                <div class="container-fluid">
                  <div class="row">
                    <ul>
                      {{#each message}}
                        <li>{{this}} </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-group float-right " role="group">
                    <a class="btn btn-md btn-secondary" href="#">
                      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Failed</a>
                    <a class="btn btn-md btn-secondary" href="/results/{{encode this.url}}">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Run Report</a>
                </div>
            </div>
        </section>
        <hr>
      {{/each}}
  {{/if}}
</div>
